:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--color-dark: #242424;
	--color-primary: rgb(41, 91, 248);
	--color-light-background: rgba(255, 255, 255, 0.87);
	--color-border: rgba(174, 182, 206, 0.2);
	--color-background: rgb(240, 245, 250);

	color: var(--color-dark);
	background-color: var(--color-light-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: calc(100vh - 40px);
	margin: 20px 40px;
	text-align: center;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
}

body {
	margin: 0;
	display: flex;
	width: 100vw;
	min-height: 100vh;
	flex-direction: column;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
}

button:hover,
button:focus,
button:focus-visible {
	outline: 4px auto var(--color-primary);
}

